[submodule "isolation-forest"]
	path = isolation-forest
	url = https://github.com/vikashranjan/isolation-forest.git
	branch = main
[submodule "dl-framework"]
	path = dl-framework
	url = https://github.com/vikashranjan/dl-framework.git
	branch = main
[submodule "gradient-boosting"]
	path = gradient-boosting
	url = https://github.com/vikashranjan/gradient-boosting.git
	branch = main
